jenkins-master:
  build: jenkins-master
  container_name: jenkins-master
  environment:
    JAVA_OPTS: "-Djava.awt.headless=true"
  ports:
    - "50000:50000"
    - "8080:8080"
  volumes:
    - $HOME/jenkins_home:/var/jenkins_home
    - "/var/run/docker.sock:/var/run/docker.sock"
    - "/usr/local/bin/docker:/bin/docker"
  extra_hosts:
    # Example Host for the Example Application
    - "testserver:192.168.50.92"
    # Private Docker Registry
    - "denschu.de:192.168.99.101"
  user: root
  links:
    - artifactory
    - sonar
#nexus:
#   build: nexus
#   container_name: nexus
#   ports:
#     - "8081:8081"
#   volumes:
#     - "/tmp/nexus:/sonatype-work"
artifactory:
  image: jfrog-docker-reg2.bintray.io/jfrog/artifactory-oss:latest
  container_name: artifactory
  ports:
    - "8081:8081"
  volumes:
   - /var/opt/jfrog/artifactory
sonar:
  image: sonarqube:latest
  container_name: sonar
  ports:
    - "9000:9000"
    - "9092:9092"
  #environment:
  #  SONARQUBE_JDBC_USERNAME: sonar
  #  SONARQUBE_JDBC_PASSWORD: sonar
  #  SONARQUBE_JDBC_URL: jdbc:postgresql://localhost/sonar
